@font-face {
  font-family: FontKartoon;
  src: url('../public/Kartoon.otf');
}

@font-face {
  font-family: FontInterRegular;
  src: url('../public/Inter-Regular.ttf');
}

@font-face {
  font-family: FontInterMedium;
  src: url('../public/Inter-Medium.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: FontInterRegular;
  background-color: #30493F;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
